@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html{
    --small-font-family: 'Inter', sans-serif;
    --large-font-weight: 500;
    --large-font-size: 24px;
    --small-font-weight:400;
    --small-font-size:14px;
    --xsmall-font-size:10px

}