.loading {
  display: grid;
  column-gap: 10%;
  grid-template-columns: repeat(3, minmax(14vw, 1fr));
}

@media (max-width: 480px) {
  .loading {
    margin-top: 5%;
    grid-template-columns: repeat(2, minmax(10vw, 1fr));
  }
}
