.loading_card {
  height: 17em;
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  justify-content: space-between;
  border-radius: var(--border-radius);
  margin-bottom: 2.5em;
}

.loading_card_main {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading_card_footer {
  color: var(--green);
  height: 15%;
  font-weight: var(--large-font-weight);
  background-color: var(--background-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.lds_dual_ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds_dual_ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--border-color);
  border-color: var(--border-color) transparent var(--border-color) transparent;
  animation: lds_dual_ring 1.2s linear infinite;
}
@keyframes lds_dual_ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 480px) {
  .loading_card {
    height: 08em;
  }

  .loading_card_footer {
    font-size: var(--xsmall-font-size);
  }
}
